.rouge-code table td { padding: 5px; }
.rouge-code table pre { margin: 0; }
.rouge-code, .rouge-code .w {
  color: #586e75;
}
.rouge-code .err {
  color: #002b36;
  background-color: #dc322f;
}
.rouge-code .c, .rouge-code .cd, .rouge-code .cm, .rouge-code .c1, .rouge-code .cs {
  color: #657b83;
}
.rouge-code .cp {
  color: #b58900;
}
.rouge-code .nt {
  color: #b58900;
}
.rouge-code .o, .rouge-code .ow {
  color: #93a1a1;
}
.rouge-code .p, .rouge-code .pi {
  color: #93a1a1;
}
.rouge-code .gi {
  color: #859900;
}
.rouge-code .gd {
  color: #dc322f;
}
.rouge-code .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
.rouge-code .k, .rouge-code .kn, .rouge-code .kp, .rouge-code .kr, .rouge-code .kv {
  color: #6c71c4;
}
.rouge-code .kc {
  color: #cb4b16;
}
.rouge-code .kt {
  color: #cb4b16;
}
.rouge-code .kd {
  color: #cb4b16;
}
.rouge-code .s, .rouge-code .sb, .rouge-code .sc, .rouge-code .sd, .rouge-code .s2, .rouge-code .sh, .rouge-code .sx, .rouge-code .s1 {
  color: #859900;
}
.rouge-code .sr {
  color: #2aa198;
}
.rouge-code .si {
  color: #d33682;
}
.rouge-code .se {
  color: #d33682;
}
.rouge-code .nn {
  color: #b58900;
}
.rouge-code .nc {
  color: #b58900;
}
.rouge-code .no {
  color: #b58900;
}
.rouge-code .na {
  color: #268bd2;
}
.rouge-code .m, .rouge-code .mf, .rouge-code .mh, .rouge-code .mi, .rouge-code .il, .rouge-code .mo, .rouge-code .mb, .rouge-code .mx {
  color: #859900;
}
.rouge-code .ss {
  color: #859900;
}
